.albumCard {
    width: 100%;
    max-width: 200px;
    padding: 5px;
    height: 140px;
    border: 1px solid #fe1aa4;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: #FE90C9;
    color: white;
}

.cardTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fe1aa4;
    font-size: 23px;
    border-bottom: 1px;
}

.cardArtist {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.cardDetail {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.cardHavePhysical {
    font-size: 20px;

}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.actions a {
    display: block;
    text-align: center;
}

.actions a:hover {
    background:#fe1aa4;
}