body {
    font-family: Arial, sans-serif;
    background-color: #ffedf6;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    text-transform: uppercase;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

li {
    list-style: none;
    color: #fe7ec0;
}

a {
    text-decoration: none;
    color: #fe59ae;
}

canvas {
    display: block;
    margin: 20px auto;
}

