Body {
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fe1aa4;
    font-size: 20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    color: #FE90C9;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}